{% assign prevIdx = page.order | minus:1 %}
{% assign nextIdx = page.order | plus:1 %}


{% if prevIdx > 0 %}
  {% assign prev = site.tutoriels | where_exp: "item","item.order == prevIdx" %}
  {% assign prev_url = prev[0].url %}
  {% assign prev_title = prev[0].title %}
{% else %}
  {% assign prev_url = 'index.html' %}
  {% assign prev_title = 'Accueil' %}
{% endif %}

{% if nextIdx <= site.tutoriels.size %}
  {% assign next = site.tutoriels | where_exp: "item","item.order == nextIdx" %}
  {% assign next_url = next[0].url %}
  {% assign next_title = next[0].title %}
{% else %}
  {% assign next_url = 'gg.html' %}
  {% assign next_title = "Next" %}
{% endif %}



<footer class="content-footer">
    <a class="content-nav-button" href="{{ prev_url | relative_url }}">
      <span class="arrow">&lt;</span>
      <span class="label">{{ prev_title }}</span>
    </a>
    <a class="content-nav-button" href="{{ next_url | relative_url }}">
        <span class="label">{{ next_title }}</span>
        <span class="arrow">&gt;</span>
      </a>
  </footer>