
$color-blue: rgb(106, 178, 207); //Theme choisi par l'équipe par défaut.
$color-grey: #31302f;
$theme-color: $color-grey; //La couleur du thème avec laquelle on travaille toutes nos mixin qui nous permet juste de changer sa valeur pour modifier notre thème.
$color-darken: darken($theme-color, 90%);
$color-lighten: lighten($theme-color, 90%);

// Cette mixin sert à changer la couleur de police en fonction de la luminosité de notre background.
@mixin police {
    @if (lightness($theme-color) > 25%){ 
        color: $color-darken;
    }@else {
        color: $color-lighten;
    }
    @content;
}

// Cette mixin sert à changer la couleur du corps de page en fonction de la luminosité de notre background.
@mixin theme {
    background-color: var(--main-bg-color);
    @content;
}

// Cette mixin sert à changer la couleur du marker de la barre de progression en fonction de la luminosité de notre background.
@mixin marker {
    @if(lightness($theme-color) > 25% ){ 
        border-bottom-color: $color-darken;
    }@else{
        border-bottom-color: $color-lighten;
    }
    @content;
}

// Cette mixin sert à changer la couleur de nos deux svg en fonction de la luminosité de notre background.
@mixin svg {
    @if (lightness($theme-color) > 25% ){ 
        fill:$color-darken;
    }@else{
        fill: $color-lighten;
    }
    @content;
}

@mixin bouton-content-footer {
    @include theme;
    border-radius: 15px;
    text-align: center;
    @content;
}

@mixin btn-hover {  
    @if (lightness($theme-color) > 25% ){ 
        $theme-color: $color-darken;
    }@else{
        $theme-color: $color-lighten;
    }
    box-shadow: 0 0 0 2px $theme-color;
}

@mixin unset {
    border: none;
    padding: 0;
    margin: 0;
    background: $theme-color;
}