/* Reset Css */

body{
    margin: 0;
    padding: 0;
}

.container {
    background-color: #888;
    height: 100%;
    width: 900px;
    & .row-page {
        margin: 0; 
        background-color: rosybrown;
        & .col-page {
            background-color: #666;
        }
    }
    & .nav-right {
        background-color: red;
        position: fixed;
        margin-left: 900px;
        display: flex;
        flex-direction: column;
    }
}