/* navbar */

@media (max-width: 768px) {
    .navbar .dropdown-menu {
        border: none;
    }
}

/* End navbar */

/* global */
@media screen and (min-width: 1591px) {
    .container {
        max-width: 900px;
        & .nav-right {
            margin-left: 900px;
        }
    }
}


@media screen and (min-width: 1401px) and (max-width: 1590px) {
    .container {
        max-width: 800px;
        & .nav-right {
        margin-left: 800px;
        }
    }
}

@media screen and (min-width: 501px) and (max-width: 1400px) {
    .container {
        & .nav-right {
            display: none;
        }
        & .angle {
            display: none;
        }
        & h1 {
            font-size: 2rem;
        }
        & p {
            font-size: 1rem;
        }
        & code {
            font-size: 1rem;
        }
    }
}

@media screen and (max-width: 768px) {
    .content-footer {
        & .content-nav-button {
            & .label {
                display: none;
            }
            & .arrow {
                font-size: 50px;
                @include police;
            }
        }
    }
}


/* End global */