// Style de la barre de navigation


.navbar {
    background-color: $theme-color ;
    ;
    & .nav-link {
        color: $colour-link;
    }
    & .nav-link-icon {
        width: 50px;
        padding: 0;
        margin: 5px;
        position: absolute;
        z-index: 10000;
        right: 0;
        top: 0;
        & .nav_icon {
            width: 100%;
        }
    }
}

.nav-right {
    box-shadow: 2px 2px 8px;
}
.content {
    &-footer{
        height: 40px;
        display: flex;                                   /////////////// next-previous
        justify-content: space-between;
        align-items: center;
        margin: 0px 15px;
    
        & .label {
            @include police;
        }
    }
    &-nav-button:hover {
        @include police;

    }
}
a{
& .content-nav-button{
    @include police;
}
& img{
    box-shadow:none
}
}


.navbar-toggler {
    width: 56px;
      &:focus {
          outline: transparent;
      }
    & .logo_burgermenu {
    width: 100%;
}
}

svg.nav_icon .background {
    fill: #333;
}

.dropdown-item{
    &:hover{
    @include theme;
    @include police;
    }
    &:active{
        @include theme;
    }
}

.beautiful-icon{
    width: 100%;
    box-shadow:none
}

.icon-home{
    width: 40%;
    transform: translate(-50%);
    left: 50%;
    position: relative;
}