// Style des barres de navigation
.navbar {
    background-color: $theme-color;
    padding: 0.65rem 1re;
    min-height: 56px;

    & .nav-link {
        @include police;
    }

    & .main-active {
        font-weight: bold;
    }

    & .dropdown {

        &-item {
            &:hover {
            @include theme;
            @include police;
            }

            &:active {
                @include theme;
                background-color: unset;
            }

            &.active {
                background-color: $theme-color;
            }
        }
    }
    
    & .nav-link-icon {
        width: 50px;
        padding: 0;
        margin: 11px;
        position: absolute;
        z-index: 10000;
        right: 0;
        top: 0;

        &:hover {
            cursor: crosshair;
        }

        & .nav_icon {
            width: 100%;
        }
    }

    & .navbar-toggler {
        width: 56px;

            &:focus {
                outline: transparent;
            }

        & .logo_burgermenu {
        width: 100%;
        }
    }
}

.container {
    & .nav-right {
        box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
        margin-left: 1085px;
        padding: 15px;
        @include theme;
        position: fixed;
        display: flex;
        flex-direction: column;
        top: 89px;
        border-top-left-radius: 30px;
        box-shadow: none;

        & .nav_right-link {
            @include police ;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    & .active {
        font-weight: bold;

        &:before {
            content: "> ";
        }
    }

    & .beautiful-icon {
        width: 100%;
        box-shadow:none;

        &:hover {
            cursor: crosshair;
        }
    }

    & .icon-home {
        width: 40%;
        transform: translate(-50%);
        left: 50%;
        position: relative;
    }

    & .prev-next {
        margin-bottom: 8px;
    }
}

.content {
    &-footer{
        height: 40px;
        display: flex;                                   /////////////// next-previous
        justify-content: space-between;
        align-items: center;
        margin-bottom: 15px;

        & a:hover {
            text-decoration: none;
        }

        & .row-button {
            display: flex;
            justify-content: space-between;
        }

        & .previous {
            @include bouton-content-footer;

            &:hover {
                @include btn-hover;
            }
        }

        & .validate {
            @include bouton-content-footer;

            &:hover {
                @include btn-hover;
            }
        }

        & .next {
            @include bouton-content-footer;

            &:hover {
                @include btn-hover;
            }
        }

        & .label {
            font-size: 1.2rem;
            @include police;

            &:hover {
                font-size: 1.2rem;
            }
        }

        & .arrow {
            font-size: 1.2rem;
            @include police;

            &:hover {
                font-size: 1.2rem;
            }
        }
    }

    &-nav-button {
        @include police;
    }

    &-nav-button:hover {
        @include police;
        text-decoration: unset;
    }
}
