// Style de la barre de navigation
.navbar {
    background-color: #444;
    & .nav-link {
        color: white;
    }
    & .nav-link-icon {
        width: 50px;
        padding: 0;
        margin: 5px;
        position: absolute;
        z-index: 10000;
        right: 0;
        top: 0;
        & .nav_icon {
            width: 100%;
        }
    }
}

.navbar-toggler {
    width: 56px;
      &:focus {
          outline: transparent;
      }
    & .logo_burgermenu {
    width: 100%;
}
}

svg.nav_icon .background {
    fill: #333;
}

@media (max-width: 768px) {
    .navbar .dropdown-menu {
        border: none;
    }
}