$step_color: #eaeaea;
$step_color_passed: #7dc71b;
$step_color_current: lighten($step_color_passed, 30%);
$offset_parent: 0px;


section.progress {
    overflow: visible;
    display: flex;
    height: 30px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: $offset_parent;
    margin-right: $offset_parent;
    border: 1px solid;
    border-radius: 3px;
    box-shadow: 0px 1px 5px;
  
    a.step {
      flex-grow: 1;
      background: $step_color;
      border-right: 1px solid grey;
      position: relative;
      border-bottom: 3px solid darken($step_color, 3);
  
      &:hover {
        background: darken($step_color, 3);
        border-bottom: 3px solid darken($step_color, 6);
      }
  
      &.passed {
        background: $step_color_passed;
        border-bottom: 3px solid darken($step_color_passed, 3);
  
        &:hover {
          background: darken($step_color_passed, 3);
          border-bottom: 3px solid darken($step_color_passed, 6);
        }
      }
  
      &.current {
        background: $step_color_current;
        border-bottom: 3px solid darken($step_color_current, 3);
  
        &:hover {
          background: darken($step_color_current, 3);
          border-bottom: 3px solid darken($step_color_current, 6);
        }
      }
  
      .marker {
        content: " ";
        height: 0;
        width: 0;
        border: solid transparent;
        @include marker;
        border-width: 0 6px 8px 6px;
        top: 35px;
        position: absolute;
        -ms-transform: translate(-50%,0);
        transform: translate(-50%,0);
        left: 50%;
      }
    }
  
    span.separator {
      width: 3px;
    }
  }